body {
    font-family: 'Open Sans', sans-serif;font-size: 150%;
}

div.center {
    text-align: center;
}

p.center {
    text-align: center;
    font-size: 50%
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
