body {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    background-color: #191919;
    color: white
}

div.center {
    text-align: center;
    height: px;
}

p.center {
    text-align: center;
    font-size: 15px
}

footer {
    position: absolute;
    left: 0;
    bottom: 1;
    height: 50px;
    width: 100%;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  background-color: #2a2c2e;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2a2c2e;
}

.nav {
  background-color: #333;
}

.padd {
padding-left:10%;
padding-right:10%
}


a:link {
    color: #99AAB5;
}
a:visited {
    color: #99AAB5;
}
a:hover {
    color: #99AAB5;
}
a:active {
    color: #99AAB5;
}

img {
  border-radius: 50%;
  width: 24px;
}
